#titles {
    -fx-font-family: Impact;
    -fx-font-size: 35;
    -fx-text-alignment: center;
}

#levelmarker {
    -fx-font-family: Impact;
    -fx-font-size: 20px;
}

#moves {
    -fx-font-family: Impact;
    -fx-font-size: 20px;
}

#helptekst {
    -fx-text-alignment: center;
}

#score {
    -fx-text-fill: gold;
}